
.bd-placeholder-img {
       font-size: 1.125rem;
       text-anchor: middle;
       -webkit-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
       user-select: none;
     }

     @media (min-width: 768px) {
       .bd-placeholder-img-lg {
         font-size: 3.5rem;
       }
     }

.mainpg {
  background: #737373;
  font-family: 'Roboto Mono', monospace;
  color: #fff;
}

 .field_with_errors {
     display: inline;
 }

 .field_with_errors label {
     color: red;
 }

 .error {
     color: white;
     list-style: none;
 }

.logo{
  margin: center;
}

.total-price{
  color: red;
}

//customer show
#cust_table{
  display: inline-table;
}

#purchase_header{
  border: 3px solid black;
  font-weight: bolder;
}

#image_class{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 50%;
}

#classifier{
  color: black;
  font-weight: bolder;
}

th#classifier {
  text-decoration: underline;
}

// Confirmation page css
#header_div{
  margin-bottom: 100px;
}
#order_header {
  margin-left: center;
  margin-right: center;
}

#num_header {
  margin-left: auto;
  margin-right: auto;
}

#confirmation_table {
  display: inline-table;
  border-spacing: 15px;
}
#header_row th{
  color: black;
  font-weight: bolder;
  border: 3px solid black;
}

#data_row td{
  border-spacing: 15px;
}
// login css
html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 20px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 200px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.login-form{
  margin: auto;
 width: 50%;
 padding: 10px;
}

.form-sign{
padding: 150px;
}

.reg-user{
  color: white;
}

.login-form a:link, a:visited {
    background-color: #595959;
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
   font-size: 16px;
   cursor: pointer;
   display: inline-block;
}

.login-form a:hover, a:active {
   background-color: blue;
   color: white;
}

.reg-form{
  padding: 5px;
}

.reg-wrapper{
  width:750px;
  margin: auto;
  background: #f2f2f2
}

.total-tag{
  font-size: 1.5em;
  font-weight: bold;
}

.t-row{
  margin-bottom: 50px;
}

.chk-link{

}
